replicaCount: 3
environment: dev
host: todo.local
grpc_port: 8000
resources:
  requests:
    cpu: 5m
    memory: 15Mi
  limits:
    cpu: 50m
    memory: 512Mi
ingress:
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    nginx.ingress.kubernetes.io/proxy-body-size: 2m
    kubernetes.io/ingress.class: nginx-internal
tls:
  enabled: false
  secretname: todo-tls-secret
