apiVersion: v1
kind: Service
metadata:
  name: {{ .Chart.Name }}
  labels:
    name: {{ .Chart.Name }}
spec:
  selector:
    name: {{ .Chart.Name }}
  ports:
    - port: {{ .Values.grpc_port }}
      name: grpc
      targetPort: {{ .Values.grpc_port }}
